<html>

<head>
    <title>脚手架-ES2019从入门到精通</title>
    <link rel="stylesheet" href="/index.css">
</head>

<body>
    <%- body %>
    <!-- <script src="./index.min.js" charset="utf-8"></script> -->
    <!-- <script src="./lesson2-3.js" charset="utf-8"></script> -->
    <script src="js/2.10-if-else.js" charset="utf-8"></script>
    <!-- <script src="../ts/class.js" charset="utf-8"></script> -->
</body>

</html>